$text-color: #151515;
$bg-color: #ffffff;

$font-size: 14px;
$font-size-2: 12px;
$font-size-3: 16px;
$font-line-height: 20px;

$space-small: 8px;
$space-medium: 16px;
$space-medium-large: 24px;
$space-large: 32px;

$text-color: #595E73;
$text-color-2: #434a66;
$text-color-3: #8C91A6;
$text-hover-color: #ffffff;
$text-active-color: #5F7280;
$text-require-mark-color: #E73A3A;
$accent-color: #22B2EA;
$bg-color: #F5F6F8;

$icon_color_secondary: #C3C6D4;

$sidebar-width: 250px;
$sidebar-bg-color: #ffffff;
$sidebar-shadow: 1px 0 12px 0 rgba(0, 0, 0, 0.12);

$header-bar-size: 60px;
$header-bar-bg-color: #ffffff;
$header-bar-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);

$ui-card-bg-color: #ffffff;
$ui-card-bar-shadow-1: 0px 1px 6px 0px rgba(0, 0, 0, 0.12);

$user-account-status-color: #82F726;

$breakpoint-1: 1200px;
$breakpoint-2: 1000px;
$breakpoint-3: 800px;

$ui-button-default-color: $text-color;
$ui-button-default-bg-color: #ffffff;
$ui-button-default-hover-color: #2a2e35;
$ui-button-default-hover-bg-color: #ffffff;
$ui-button-default-active-color: #1a93d0;

$ui-button-primary-color: #ffffff;
$ui-button-primary-bg-color: $accent-color;
$ui-button-primary-hover-color: #ffffff;
$ui-button-primary-hover-bg-color: $accent-color;
$ui-button-primary-active-bg-color: #1a93d0;

$ui-input-bg-color: #ffffff;
$ui-input-border-color: #dfe4e6;

$ui-input-textarea-bg-color: #ffffff;
$ui-input-textarea-border-color: #dfe4e6;

$ui-checkbox-border-color: #d9d9d9;
$ui-checkbox-disabled-bg-color: #e9ecef;
$ui-checkbox-active-border-color: #1a93d0;

$ui-error-color: #de2f2f;
